# Copia este archivo como .env.local y rellena los valores reales
# NO subir .env.local al repositorio

EXPO_PUBLIC_SUPABASE_URL=https://omhycwfjxynkfwywzwvz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sSlEbsfs4842PDD8H050uQ_dhLbljxA
